body{
    margin:0;
    font-family: 'Raleway', sans-serif;
}
h1,h2,h3{

}







@media only screen and (min-width: 768px){
    .grid{
        display:grid;
        grid-template-rows:1fr auto;
        grid-template-columns:25% 75%;
        grid-template-areas: 
        "header jumbo "
        "header about "
        "header port"
        "header cont ";
    }
    header{
        grid-area:header;
        display:flex;
        position:fixed;
        height:100%;
        flex-direction:column;
        align-items:center;
        background-color:#995C87;
        color:#ffffff;
        width:25%;
        margin-right:30px;
    }
    header nav{
        display:flex;
        flex-direction:column;
        align-items:center;    
    }
    header ul{
        padding:0;
        list-style:none;
        text-align:center;
    }
    header ul li{
        padding-bottom:10px;
    }
    nav{
        margin-top:30px;
    }
    nav h1{
        font-size:40px;
    }
    nav h2{
        font-size: 18px;
    }
    .header-img{
        width:250px;
        height:250px;
    }
    .home{
        margin:0 3%;
        grid-area:jumbo;
        height:1500px;
    }
    .about{
        margin:0 3%;
        grid-area:about;
        height:1500px;
    }
    .about img{
        width:200px;
        height:200px;
    }
    .portfolio{
        margin:0 3%;
        grid-area:port;
        height:1500px;
    }
    .contact{
        margin:0 3%;
        grid-area:cont;
        height:1500px;
    }
}